Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-empty-catch,
  performance-*,
  -performance-unnecessary-value-param,
  readability-*,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-math-missing-parentheses,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -modernize-avoid-c-arrays,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -bugprone-infinite-loop,
  -readability-convert-member-functions-to-static,
  -readability-named-parameter,
  -readability-redundant-nested-if,
WarningsAsErrors: ''
HeaderFilterRegex: '^cpp/(include|src|bindings)/.*'
FormatStyle: file
